.addCommentForm {
  padding-top: 0.5em;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;

  input,
  button {
    border: none;
    outline: none;
    font-size: 1em;
  }

  .formInput {
    width: 90%;
    border-bottom: 1px solid #bfbfc8;
    position: relative;
    padding: 0.25em;
    input {
      width: 100%;
    }
    .error {
      color: #ed1931;
      font-size: 0.9em;
      position: absolute;
      right: 0.5em;
      bottom: 0;
    }
  }

  .addCommentButton {
    width: fit-content;
    margin-top: 0.75em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    color: white;
    background-color: #065fd4;
    &:hover {
      background-color: #2e82ed;
    }
  }
}
