.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5em;
  & > img {
    margin-bottom: 2%;
    width: 32%;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .App img {
    width: 49%;
  }
}

@media screen and (max-width: 550px) {
  .App img {
    width: 100%;
  }
}
